[submodule "thirdparty/shaderc"]
	path = thirdparty/shaderc
	url = https://github.com/google/shaderc.git
[submodule "thirdparty/spirv-headers"]
	path = thirdparty/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "thirdparty/glslang"]
	path = thirdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "thirdparty/spirv-tools"]
	path = thirdparty/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
